<% layout("layouts/boilerplate") %>
<h3 class="py-3">Create a New Listing</h3>
<form method="POST" action="/listings" class="container-fluid needs-validation" novalidate enctype="multipart/form-data">
    <div class="row content">
        <div class="col-12 mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" id="title" required>
            <div class="invalid-feedback">Please enter a title</div>
        </div>

        <div class="col-12 mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter description" class="form-control" id="description" required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="col-12 mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input name="listing[image]" type="file" class="form-control" id="image" required>
            <div class="invalid-feedback">Please upload png, jpg or jpeg format!</div>
        </div>

        <div class="row left" style="margin-left: 0px;">
            <div class="col-md-4 left">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="Enter price" type="number" class="form-control" id="price" required>
                <div class="invalid-feedback">Please enter a valid price</div>
            </div>

            <div class="col-md-8 mb-3 left">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" id="country" required>
                <div class="invalid-feedback">Please enter a valid country</div>
            </div>
        </div>

        <div class="col-12 mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" id="location" required>
            <div class="invalid-feedback">Please enter a valid location</div>
        </div>

        <div class="col-12 mb-3">
            <button type="submit" class="btn btn-primary w-100">Add</button>
        </div>
    </div>
</form>
<br>


